{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/main/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/register.css' %}">
{% endblock %}

{% block title %}{% trans "Register" %}{% endblock %}

{% block content %}
    <div class="form-container register">
        <h2>{% trans "Register" %}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
              {{ form.email|add_class:"form-control" }}
            </div>
            <div class="form-group">
              {{ form.username|add_class:"form-control" }}
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    {{ form.password|add_class:"form-control" }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.confirm_password|add_class:"form-control" }}
                </div>
            </div>
            <p>
            {% blocktrans with min_len=min_password_length bold_start="<b>"|safe bold_end="</b>"|safe %}
                Make sure your {{ bold_start }}password{{ bold_end }} is at least {{ bold_start }}{{ min_len }} characters{{ bold_end }} long and includes:
            {% endblocktrans %}
            </p>

            <ul>
                <li>
                    {% blocktrans with bold_start="<b>"|safe bold_end="</b>"|safe %}
                        Uppercase & lowercase letters {{ bold_start }}(A-Z, a-z){{ bold_end }}
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans with bold_start="<b>"|safe bold_end="</b>"|safe %}
                        Numbers {{ bold_start }}(0-9){{ bold_end }}
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans with bold_start="<b>"|safe bold_end="</b>"|safe %}
                        Special characters {{ bold_start }}(!@#$%^&*){{ bold_end }}
                    {% endblocktrans %}
                </li>
            </ul>
            <div class="form-group">
                <div class="form-check-input-container">
                    {{ form.terms_of_service|add_class:"form-check-input" }}
                    {{ form.terms_of_service.label_tag }} <a href="{% url 'homepage:index' %}">{% trans "Terms of Service" %}</a>
                </div>
                <div class="form-check-input-container">
                    {{ form.privacy_policy|add_class:"form-check-input" }}
                    {{ form.privacy_policy.label_tag }} <a href="{% url 'homepage:index' %}">{% trans "Privacy Policy" %}</a>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Registrieren</button>
        </form>
        <p>{% trans "Do you already have an account?" %} <a href="{% url 'account:login' %}">{% trans "Login" %}</a></p>

        <div class="error-messages">
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}