{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/main/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/register.css' %}">
{% endblock %}

{% block title %}Registrieren{% endblock %}

{% block content %}
    <div class="form-container register">
        <h2>Registrieren</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
              {{ form.email|add_class:"form-control" }}
            </div>
            <div class="form-group">
              {{ form.username|add_class:"form-control" }}
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    {{ form.password|add_class:"form-control" }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.confirm_password|add_class:"form-control" }}
                </div>
            </div>
            <p>
                Make sure your <b>password</b> contains is at least <b>{{ min_password_length }} characters</b> long and includes:
            </p>
            <ul>
                <li>Uppercase & lowercase letters <b>(A-Z, a-z)</b></li>
                <li>Numbers <b>(0-9)</b></li>
                <li>Special characters <b>(!@#$%^&*)</b></li>
            </ul>
            <div class="form-group">
                <div class="form-check-input-container">
                    {{ form.terms_of_service|add_class:"form-check-input" }}
                    {{ form.terms_of_service.label_tag }} <a href="{% url 'homepage:index' %}">Terms of Service</a>
                </div>
                <div class="form-check-input-container">
                    {{ form.privacy_policy|add_class:"form-check-input" }}
                    {{ form.privacy_policy.label_tag }} <a href="{% url 'homepage:index' %}">Privacy Policy</a>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Registrieren</button>
        </form>
        <p>Do you already have an account? <a href="{% url 'account:login' %}">Login</a></p>

        <div class="error-messages">
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}