{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/main/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/verify_email.css' %}">
{% endblock %}

{% block title %}Verify EMail{% endblock %}

{% block content %}
    <div class="form-container verify">
        <h2>Verify Your Email</h2>
        <form method="post">
              {% csrf_token %}
              <div class="form-group">
                  {{ form.code|add_class:"form-control" }}
              </div>
              <button type="submit" class="btn btn-primary">Verify</button>
        </form>
        <p class="center-text">Thank you for registering! We have sent a verification code to your email address. Please enter the code here to verify your email.</p>
        <div class="error-messages">
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}