.register .row {
    display: flex;
    justify-content: space-between;
}

.form-check-input-container {
    display: flex;
    align-items: center;
}

.form-check-input-container label {
    margin-right: 5px;
}

.form-check-input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}