footer {
    color: var(--primary-text-color);
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: calc(100% - 30px);
    background-color: var(--secondary-background-color);
    margin: 0 15px;
    border-radius: 10px 10px 0 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
