{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block head %}
    {{ form.media.js }}

    <link rel="stylesheet" href="{% static 'css/main/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/room/select.css' %}">
{% endblock %}

{% block title %}{% trans "Select Apartment" %}{% endblock %}

{% block content %}
    <div class="form-container login">
        <h2>{% trans "Select Apartment" %}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_div }}
            </div>
            <button type="submit" class="btn btn-primary">{% trans "Select" %}</button>
        </form>
        <div class="error-messages">
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
