<footer>
    <div class="footer-content">
        <p>&copy; {{ current_year }} <a href="https://github.com/Friedjof/Uniconn">Uniconn</a>. Because we’re better together.</p>
        <ul class="footer-links">
            <li><a href="#">Imprint</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact</a></li>
            <li class="version"><a href="https://github.com/Friedjof/GlowLight/releases/tag/{{ version }}">{{ version }}</a></li>
        </ul>
    </div>
</footer>