{% load i18n %}

<div class="fade-effect">
    <nav>
        <ul class="left">
            <li><a href="{% url 'homepage:index' %}">{% trans "Home" %}</a></li>
            <li><a href="/chat/">{% trans "Chat" %}</a></li>
        </ul>
        <ul class="right">
            <li>
                <button id="theme-toggle">{% if is_dark %}🌜{% else %}🌞{% endif %}</button>
                <div style="display: none;" id="set_theme_url">{% url 'account:set_theme' %}</div>
                <div style="display: none;" id="get_theme_url">{% url 'account:get_theme' %}</div>
            </li>
            {% if user.is_authenticated %}
                <li><a href="/account/profile/">{% trans "Profil" %}</a></li>
                <li><a href="{% url 'account:logout' %}">{% trans "Logout" %}</a></li>
            {% else %}
                {% if '/account/login/' in request.path %}
                    <li><a href="{% url 'account:register' %}">{% trans "Register" %}</a></li>
                {% else %}
                    <li><a href="{% url 'account:login' %}">{% trans "Login" %}</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
</div>